<title><% guild-name %> - <% page-name %></title>
        
        <!-- Tell the browser to render this website with UTF-8 character encoding in mind. -->
        <meta charset="UTF-8" />

        <!--
        Since we're not interested in SEO principles for the time being,
        there will be a chosen omission of any meta tags that would be
        used to promote SEO.

        I will still include the meta tags that will be beneficial for SEO,
        you just have to choose whether to uncomment them or not.
        -->

        <!--
        <meta name="description" content="Ultradmin web control panel" />
        <meta name="keywords" content="ultradmin, ultimate Discord administration bot" />
        -->

        <!-- This meta tag is typically used for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- It's time to implement our stylesheets -->
        <link rel="stylesheet" type="text/css" href="assets/styles/theme.css" />